@charset "UTF-8";

:root {
    --font-principal: Arial, Helvetica, sans-serif;
    --color-grey: rgb(136, 138, 133);
    --color-blue: #0296FD;
    --color-pink: #B4289D;
    --color-white: white;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: var(--font-principal);
    color: var(--color-white);
}

header {
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.39);
    padding: 10px 0px;
}

h1 {
    text-transform: uppercase;
}

.logo-header {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.header-div {
    padding: 0px 10px;
    display: flex;
    margin: auto;
    max-width: 1000px;
    position: relative;
}

.header-div > a {
    text-decoration: none;
}

header nav {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}

.nav-list {

    display: flex;
}

.nav-list li {
    list-style-type: none;
    margin: 10px;
    padding: 2px 10px;
    border-radius: 5px;
}

.nav-list a {
    text-decoration: none;
    font-weight: bold;
    color: var(--color-grey);
}

.nav-list a:hover {
    transition: 0.3s;
    color: var(--color-blue);
}

.nav-list a:active {
    transition: 0.3s;
    color: var(--color-pink);
}

.hero {
    height: 100vh;
    min-height: 480px;
    background: url(Imagens/hero-behouse.jpg);
    background-position: center;
    background-size: cover;

}

.hero-content {
    height: 100%;
    background-color: rgb(0 0 0 / 69%);
    text-transform: uppercase;
    position: relative;
}

.hero-center {
    height: 320px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-center h1 {
    color: var(--color-white);
}

.hero-center p {
    margin-top: 16px;
    color: var(--color-pink);
    filter: brightness(150%);
    font-weight: 600;
}

.link-button {
    text-transform: uppercase;
    padding: 16px;
    background-color: var(--color-pink);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 5px;
}

.link-button:hover {
    transition: 0.5s;
    background-color: var(--color-white);
    color: var(--color-pink);
}

.hero-center a {
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.hero-center a:hover {
    transition: 0.5s;
    position: absolute;
    bottom: 32%;
    left: 50%;
    transform: translate(-50%, -32%);
}

.section-1 {
    background: url(Imagens/foto1-behouse.jpg);
    background-position: center;
    background-size: cover;
}

.section-1-dark {
    padding: 32px;
    height: 100%;
    background-color: rgb(0 0 0 / 90%);
    position: relative;
}

.section-1-center {
    display: flex;
}

.section-1-img {
    border-radius: 5px;
    margin: 10px;
    width: 480px;
}

.section-1-center article {
    margin: 10px;
    color: var(--color-white);
}

.section-1-center h1 {
    font-size: 64px;
}

.section-1-center p {
    margin-top: 10px;
    margin-bottom: 64px;
}

.section-2 {
    background: url(Imagens/foto6-behouse.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

.section-2 h1 {
    font-size: 64px;
    margin: 10px;
}

.section-2 p {
    margin: 16px;
}

.section-2-dark {
    padding: 32px 0px;
    height: 100%;
    background-color: rgb(0 0 0 / 90%);
    position: relative;
}

.section-2-galeria  {
    display: flex;
    margin-bottom: 64px;
}

.section-2-galeria img {
    max-height: 320px;
    width: 33.333333333333333333333333%;
}